name: php-3-tier
version: '{{ docker_compose_version }}'
services:
  frontend:
    image: httpd:latest
    ports:
      - "{{ frontend_port }}:80"
    volumes:
      - ./frontend:/usr/local/apache2/htdocs
  backend:
    image: dpaktamang/php-3-tier-be
    volumes:
      - ./api:/var/www/html
    ports:
      - "{{ backend_port }}:80"
    depends_on:
      - db
  db:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: "{{ db_name }}"
      MYSQL_USER: "{{ db_user }}"
      MYSQL_PASSWORD: "{{ db_password }}"
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./db:/docker-entrypoint-initdb.d 